<div class="clear">
<h11>INSTAGRAM</h11>
<!-- SnapWidget -->
<script src="//snapwidget.com/js/snapwidget.js"></script>
<iframe src="//snapwidget.com/in/?u=bGF1cmVuY29ucmFkfGlufDE1MHw1fDF8fG5vfDIwfG5vbmV8b25TdGFydHxub3x5ZXM=&ve=220216" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
</div>