<h17>INSTAGRAM</h17>

<!-- SnapWidget 
<iframe src="//snapwidget.com/in/?u=ZmpvcmRsaWZlX3xpbnwyMzR8NXwxfHxub3w1fG5vbmV8b25TdGFydHx5ZXN8bm8=&ve=280316" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:1195px; height:239px"></iframe>
-->


<div class="instagram">
  <div class="posts">
  </div>
</div>

<script type="text/javascript" src="{{ 'instagram.js' | asset_url }}"></script>
