
vendor-prefixes ?= webkit moz o ms official

@import vendor
@import mixins
@import fonts
@import guide

body
  font: f.copy1
  background-color: c.white1
  padding 0
  margin 0

.container
  padding 0px

.fj-header-logo 
  display block
  width 400px
  height 49px
  margin 50px auto 10px auto
  svg > g > path
    fill: c.grey2
    
.site-header__desc 
  font: f.h2
  padding 10px 0
  color: c.grey2
  letter-spacing 1px

header.row 
  > .fj-topnav, > .fj-cart
    background-color: c.grey1
    padding-bottom 0px
    > .cart-link, > .customer-links
      display inline-block
      text-transform uppercase
      color: c.grey2
      font: f.copy2
      padding 12px
    > nav
      padding-right 0px
      padding-left 16px
      > ul
        > li
          padding 10px
          &.active
            background-color: c.white1
        > li > a
          text-transform uppercase
          color: c.grey2
          font: f.copy2
