<div id="designer_list">


{% for collection in collections %}
  {% if collection.template_suffix == 'designer' %}
    
    <a href="{{ pages.[collection.handle].url }}">
      <div class="left designer_block">
        <div  class="designer_image">
          {{ pages.[collection.handle].metafields.custom_fields.thumbnail }}
        </div>
        <div class="designer_text">
          <h2 class="title">{{ collection.title }}</h2>
          <h11 class="description">{{ pages.[collection.handle].metafields.custom_fields.excerpt }}</h11>
          <h11 class="readmore"><div class="copy">READ MORE</div></h11>
        </div>
      </div>
    </a>
  {% endif %}
{% endfor %}
</ul>
</div>


