<div id="customer" class="subscribe">
  <div class="inner">

    <div id="CustomerSubscribeForm" class="form-vertical">
        <h2>Welcome to Fjordlife</h2>

        <div class="subscribe_desc">
          FIRST TIME SHOPPING WITH US?
          <div class="subcopy">Take 10% off your first order by joining!</div>
        </div>
        <div class="subscribe_img">
        <img src="//cdn.shopify.com/s/files/1/1087/6326/files/Subscribe_Image.jpg?14126186042294128487" />
        </div>
        <div class="subscribe">
        <form action="//fjordlife.us12.list-manage.com/subscribe/post-json?u=6a572de1881f30db3082255a6&amp;id=c8f994ff35&c=?" method="get" id="page-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="subscribe_inner">
          <div class="errors"></div>
          <input type="email" value="" name="EMAIL" class="email" placeholder="Email" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0725047d0743419ef943cdd0f_2a6a16afb5" tabindex="-1" value=""></div>
          <input type="submit" value="SUBSCRIBE" name="subscribe" class="">
          <div class="clear"></div>
          </div>
        </form>
        
        </div>

        <!--End mc_embed_signup-->

    </div>

    

  </div> 

</div>
