<ul class="grid clearfix">
{% for collection in collections %}
  {% if collection.template_suffix == 'designer' %}
    <div><img src="{{ collection.image.src | img_url: 'medium' }}"</div>
  {% endif %}
{% endfor %}
</ul>
{% if paginate.pages > 1 %}
<div id="pagination">
  {{ paginate | default_pagination }}
</div>
{% endif %}
