<div id="designer_list">


{% for collection in collections %}
  {% if collection.template_suffix == 'designer' %}
    
    <a href="{{ pages.[collection.handle].url }}">
      <div class="left designer_block">
        <div  class="designer_image" style="background-image: url('{{ collection.image.src | img_url: 'large' }}'); background-repeat: no-repeat; background-size: cover;)">
        </div>
        <div class="designer_text">
          <h2 class="title">{{ collection.title }}</h2>
          <h11 class="description">{{ collection.description | strip_html | truncate: 150 }}</h11>
          <h11 class="readmore"><div class="copy">READ MORE</div></h11>
        </div>
      </div>
    </a>
  {% endif %}
{% endfor %}
</ul>
</div>


<script>
/*
var parallaxWidth = $(".parallax-container").width();
var parallaxCenter = (parallaxWidth/2) - 200;
var parallaxDefault = $(".parallax").offset().left;
var lastOffset = 0;

$(".parallax > li").click(function() {
  var parallaxLeft = $(".parallax").offset().left;
  var parallaxCenterOffset = $(".parallax").offset().left + parallaxCenter;
  var p = $(this);
  var offset = parallaxCenterOffset - $(this).offset().left;
  
  $(".parallax").animate({left: offset}, 400, "swing", function() { 
    console.log(offset + " " + lastOffset);
    if(p.prevAll().length > 2 && lastOffset != offset) {
      $('.parallax li:last').after($('.parallax li:first')); 
      lastOffset = offset+400;
      $('.parallax').css('left', offset+400);
    }
    
  }); 
});
*/
</script>
