#main
  .side-nav
    color: c.grey2
    float left
    width 30%
    li
      margin-bottom 10px
      > a
        color: c.grey2
      > a.active
        color: c.grey1
  .left
    text-align center
      
      