#customer
  > .inner
    width 400px
    margin auto
    padding 15px
  .errors
    > ul
      margin 0
  h2
    text-transform uppercase
    padding-top 25px
  input
    margin-bottom 15px
  hr
    margin-bottom 40px
  #page-subscribe-form
    padding-top 20px
  .subscribe_desc
    padding-top 20px
  input[type="submit"]
    background-color: c.grey1
    color: c.grey2
    padding 10px 20px
    border-radius 0
    border 0
#cart
  h2, h8
    text-transform uppercase
  .additional-checkout-buttons
    margin-top 30px
  .subtotal
    padding-bottom 30px
  a
    color: c.grey2

