#customer
  > .inner
    width 300px
    margin auto
    padding 15px
  .errors
    color red
    > ul
      margin 0
  h2
    text-transform uppercase
  input
    margin-bottom 15px
  hr
    margin-bottom 40px
    
#cart
  h2, h8
    text-transform uppercase
  .additional-checkout-buttons
    margin-top 30px
  .subtotal
    padding-bottom 30px
  