body.template-collection
  > .container
    background-color yellow
    > #main
      background-color red
      > #header, #products_header
        text-align center
      h2
        font: f.h2
      h1
        font: f.h1
      > .rte
        > p
          display none 
        > table
          width 50%
          float left
          > tbody
            > tr > td
              vertical-align top
