body.template-collection, body.template-page
  > .container
    > #main
      > #products_header
        text-align center
        font: f.h3
        margin-bottom 20px
      > #header
        margin-bottom 50px
        background-size cover
        height 350px
        text-align center
        color: c.white1
        > .header_copy
          position relative
          top 50%
          transform translateY(-50%)
      .collection-desc-header > h1
        text-align center
        font-size 62px
      .collection-desc-header > h2
        text-align center
        font: f.h14
        font-size 20px
      h1
        text-transform uppercase
      > .rte
        > p
          display none 
        > table
          width 50%
          float left
          > tbody
            > tr
              border 0
              > td
                color: c.grey2
                vertical-align top
                strong
                  font: f.copy6
      .recommendations
        text-align center
table > p
  &:first-child
    border 1px solid red 

.parallax-container
  width 100%
  position relative
  overflow hidden
  height 400px
.parallax
  left 0
  top 0
  position absolute
  white-space nowrap
  > li
    display inline-block
    > div
      background-size cover
      width 400px
      height 300px

#designer_list
  > a
    > .designer_block
      text-align center
      position relative
      width 410px 
      height 600px
      overflow hidden
      background-color: c.grey2
      &:hover > .designer_image
        opacity .5
        background-position center center
      &:hover > .designer_text > h11
        opacity 1
        top 40%
      &:hover > .designer_text > h2
        top 30%
      > .designer_image
        position absolute
        top 0
        width 100%
        height 600px
        opacity 1
        transition opacity 1s
        transition background-position .5s
      > .designer_text
        width 80%
        height 600px
        color: c.white1
        position relative
        margin auto
        top 0
        > h2
          width 100%
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          transition top .5s
        > h11
          width 100%
          position absolute
          top 100%
          opacity 0
          transition opacity .5s
          transition top .75s
          font: f.copy9
          line-height 18pt
          &.readmore
            margin 50% 0 0 0
    > .left
      margin-right 5px
      padding: 0
      margin-bottom 5px
  
    
