.ethos
  a 
    text-decoration underline
  #header_1
    background-image url('https://cdn.shopify.com/s/files/1/1087/6326/files/Fjordlife_LandingPage_Image.jpg?443988946288892372')
  #header_2
    background-image url('https://cdn.shopify.com/s/files/1/1087/6326/files/fjord-waterfall.png?14821091821338818993')
  > .ethos_header
    background-size cover
    background-position center
    background-repeat no-repeat
    background-size cover
    width 100%
    height 400px
    position relative
    > .header_copy
      width 75%
      text-align center 
      color: c.white1
      left 50%
      top 50%
      -webkit-transform translate(-50%, -50%)
      -moz-transform translate(-50%, -50%)
      transform translate(-50%, -50%) 
      position absolute
      z-index 10
  #header_2 > .header_copy
    width 90%
  .ethos_statement
    position relative
    padding-top 50px
    padding-bottom 50px
    width 85%
    margin auto
    text-align center
    > .author
      padding-top 20px
      font: f.h11
  .ethos_offers
    max-width 960px
    margin auto
    padding 50px 0
    > h16
      padding 0 0 0 20px
    > .ethos_offer
      float left
      width 33%
      padding 20px
  .ethos_collage
    position relative
    max-width 960px
    margin auto
    > .ethos_collage_copy
      float left
      width 394px
    > .ethos_collage_pic1
      background-image: url('http://cdn.shopify.com/s/files/1/1087/6326/t/4/assets/collage2.jpg?16546330012253618270')
      float right
      width 394px
      height 350px
      background-repeat no-repeat
    > .ethos_collage_pic2
      background-image: url('http://cdn.shopify.com/s/files/1/1087/6326/t/4/assets/collage1.jpg?16546330012253618270')
      float left
      width 502px
      height 350px
      background-repeat no-repeat
      margin -20px 0 0 0
    > .ethos_collage_pic3
      background-image: url('http://cdn.shopify.com/s/files/1/1087/6326/t/4/assets/collage3.jpg?16546330012253618270')
      float right
      width 271px
      height 229px
      background-repeat no-repeat
      margin 60px 0 0 0px
    > .ethos_border
      position absolute
      border: 2px solid c.grey1
      &.ethos_border_1
        width 394px
        height 350px
        right -30px
        top 30px
      &.ethos_border_2
        width 502px
        height 350px
        left 20px
        bottom -20px
      &.ethos_border_3
        width 271px
        height 229px
        bottom 25px
        right -30px

  .ethos_block
    width 95%
    max-width 960px
    margin auto
    padding-bottom 50px
    -webkit-columns 2 360px
    -moz-columns 2 360px 
    columns 2 360px
    -webkit-column-gap 4em
    -moz-column-gap 4em
    column-gap 4em
    &.ethos_full
      columns auto
      column-gap auto
      margin-top -100px
      padding-left 20px
      padding-right 20px
    > div
      vertical-align top
      display inline-block
      margin-left 15px
      margin-right 15px
    > .block_image
      background-size cover
      background-repeat no-repeat
      width 500px
    > #ethos_image
      background-position 0px -60px
      background-image url('https://cdn.shopify.com/s/files/1/1087/6326/files/slide-2.jpg?9355096147740056682')
      height 200px
    > #brand_image
      background-image url('https://cdn.shopify.com/s/files/1/1087/6326/files/slide-5.jpg?9355096147740056682')
      height 500px
    > #waterfall_image
      background-position 100% 0%
      background-image url('https://cdn.shopify.com/s/files/1/1087/6326/files/fjord-waterfall.png?14821091821338818993')
      height 500px

  .ethos_cols
    padding-top 50px
    width 100%
    display flex
    justify-content space-between
    > div
      vertical-align top
      width 30%
      display inline-block
  .ethos_stand_for
    padding-top 50px
    width 80%
    text-align center
    margin auto
    > h3
      padding-bottom 30px
    > button
      border-radius 0
      background-color: c.grey1
      color: c.grey2
      margin 30px 0
      border 0
      padding 15px 30px
    
@media all and (min-width: 1px) and (max-width: 1000px)
  .ethos
    > .ethos_collage
      > .ethos_collage_copy
        width auto
        float none
        padding 20px 0
      > .ethos_collage_pic
        float none
        width 90%
        margin 10px auto
        &.ethos_collage_pic2
          background-position 50% 0
      > .ethos_border
        display none
    > .ethos_offers
      > .ethos_offer
        float none
        width auto
    > .ethos_block
      > #waterfall_image
        width 90%
        margin 0 0 20px 0
