
vendor-prefixes ?= webkit moz o ms official

@import vendor
@import mixins
@import fonts
@import guide

body
  letter-spacing 1px
  font: f.copy1
  background-color: c.white1
  padding 0
  margin 0
  line-height 25px
  color: c.grey2

h1
  font: f.h1
  margin 0
h2
  font: f.h2
  letter-spacing 3px
  margin 0
h3
  font: f.h3
  margin 0
h4
  font: f.h4
  margin 0
h5
  font: f.h5
  margin 0
h6
  letter-spacing 3px
  margin 0
h7
  display block
  font: f.h7
  letter-spacing 3px
  margin 0
h8, .h8
  display block
  font: f.h8
  letter-spacing 2px
  margin 0

h10
  display block
  font: f.h10
  letter-spacing 3px
  margin 0
h11
  display block
  font: f.h11
  letter-spacing 1px
  line-height 40px
  margin 0
h12
  display block
  font: f.h12
  letter-spacing 1px
  margin 0
h14
  display block
  font: f.h14
  letter-spacing 1px
  margin 0

.copy8
  font: f.copy8

footer
  color: c.grey2
  text-align left
  padding 0 20px
  a
    color: c.grey2
  > .copyright
    > .footer-small
      font: f.copy7

.fj-topnav
  width 60%
  height 45px
.fj-cart
  width 40%
  height 45px

.fj-header-logo
  display block
  width 400px
  height 49px
  margin 10px auto 10px auto
  svg > g > path
    fill: c.grey2
.site-header__desc
  font: f.h2
  padding 10px 0
  color: c.grey2
  letter-spacing 1px

.search-form
  border: 1px solid c.grey2
  margin-right 20px
  > input
    border none
    padding 10px 0 8px 0
    font: f.copy1
    text-transform uppercase
  > label
    float right
    > #search-submit
      display none
    > .search-form-submit
      float right
      width 35px
      height 35px
      padding 5px
      > svg path
        fill: c.grey2
header > .social-links
  padding-right 30px
header.row
  > .fj-topnav, > .fj-cart
    background-color: c.grey1
    padding-bottom 0px
    > .cart-link, > .customer-links
      display inline-block
      text-transform uppercase
      color: c.grey2
      font: f.copy2
      padding 11.5px
    > nav
      padding-right 0px
      padding-left 16px
      > ul
        > li
          padding 10px
          &.active
            background-color: c.white1
        > li > a
          text-transform uppercase
          color: c.grey2
          font: f.copy2

@import carousel

@import home

.designer-page
  > header
    position relative
    width 100vw
    left calc(-50vw + 50%)
    height 400px
    text-align center
    text-transform uppercase
    color: c.white1
    background-image url(./designer_banner.jpg)
    background-size cover
    background-repeat no-repeat
    > .titles
      height 198px
      margin 101px 0 0 0
      > .titleA
        font: f.h3
        letter-spacing 2px
      > .titleB
        font: f.h4
      > .titleC
        font: f.h5

@import designer
.recommendations
  clear both
#fjordlife
  .prod-image-wrap
    height 176px
    min-width 176px
    > a > img
      width 176px
.prod-image-wrap
        height 200px
        min-width 200px
        overflow hidden
        text-align left
        > a > img
          width 200px
      .prod-caption
        padding-top 10px
        font: f.copy5
        color: c.grey2
        text-transform uppercase
        text-align left
        > .col-title
          font: f.h6
        > .prod-title > a
          color: c.grey2

@import catalog
@import product
@import help

.rte
  strong
    font: f.copy6

@media all and (min-width: 1px) and (max-width: 1000px)

  .fj-topnav
    width 100%
    height auto
  .fj-cart
    width 100%
    height auto

  header
    > .social-links
      text-align center

  .fj-header-logo
    width 300px
    height 49px
    margin 10px auto 10px auto
    svg > g > path
      fill: c.grey2
  .site-header__desc
    font: f.h8
    letter-spacing 1px
  .col
    width 100%

  footer
    > .right
      float none !important
      width 100%
      padding-left 0


