
fonts = fnt_averta_thin fnt_averta_regular fnt_averta_semibold fnt_averta_lightitalic fnt_averta_regularitalic fnt_averta_bold
fontfaces(fonts, otf)

fonts = fnt_bauer_bold fnt_bauer_italic fnt_bauer_roman
fontfaces(fonts, otf)
