.col
  color: c.grey2
  box-sizing border
  padding 20px
  float left
  width 30%
  text-align center
  a
    color: c.grey2
    font: f.copy10
    &:hover
      color: c.grey1
  img
    width 100%
    padding-bottom 20px 
  .block 
    min-height 470px
  h1
    font: f.h1
  h2
    font: f.h2
    width 90%
    margin auto
    margin-bottom 15px
  p
    width 90%
    margin auto
    margin-bottom 15px
  hr
    margin-bottom 50px
    margin-top 50px
.col1, .col2 
  .block
    padding-bottom 30px
.col3, .article-col2
  width 40%
  padding-left 60px
  .block
    min-height 0px
  .col3-content
    padding-top 30px
    > .article > p
      font: f.h18
      > time
        font: f.copy1
        text-transform uppercase
        display block
      > a
        font: f.copy11
        letter-spacing 1px
    > .grid > li
      padding-left 5px
      padding-right 5px 
      padding-bottom 5px
      
    
.blog
  .article
    margin-bottom 20px
  .blog-img
    height 176px
    overflow hidden
  img
    width 176px
  p
    text-align left
    padding-top 10px
    
.home-block-image 
  overflow hidden
  margin-bottom 20px
  height 420px
  background-repeat no-repeat
  background-size cover
  background-size 100%
  > img
    transition all 2s
    padding 0
    &:hover
      transform: scale(1.2);

  
