.col
  color: c.grey2
  box-sizing border
  padding 20px
  float left
  width 30%
  text-align center
  a
    color: c.grey2
    font: f.copy6
  img
    width 100%
    padding-bottom 20px 
  .block
    min-height 470px
  h2
    font: f.h2
    width 80%
    margin auto
    margin-bottom 15px
  p
    width 90%
    margin auto
    margin-bottom 15px
  hr
    margin-bottom 50px
.col3
  .block
    min-height 0px
.blog
  img
    width 150px
    height 150px
  p
    text-align left
    padding-top 10px
    
.col3
  width 40%
  