.col
  color: c.grey2
  box-sizing border
  padding 20px
  float left
  width 30%
  text-align center
  a
    color: c.grey2
    font: f.copy6
  img
    width 100%
    padding-bottom 20px 
  .block
    min-height 470px
  h1
    font: f.h1
  h2
    font: f.h2
    width 80%
    margin auto
    margin-bottom 15px
  p
    width 90%
    margin auto
    margin-bottom 15px
  hr
    margin-bottom 50px
    margin-top 50px
.col3
  width 40%
  .block
    min-height 0px
  .col3-content
    padding-top 30px
    
.blog
  .article
    margin-bottom 20px
  .blog-img
    height 176px
    overflow hidden
  img
    width 176px
  p
    text-align left
    padding-top 10px
    
.home-block-image
  background-size 100%
  background-repeat no-repeat
  margin-bottom 15px
  transition background-size 2s
  &:hover
    background-size 200%
  > img
    visibility hidden

  